language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=1.10

install:
  - pip install Django==$DJANGO
  - pip install coveralls
  - pip install -e .

script:
  - coverage run --source=webshell setup.py test

after_success:
  - coveralls
